<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>abCMS Dashboard</title>
    <script src="./htmx.min.js"></script>
    <script src="./htmx-ext-response-targets.js"></script>
    <script src="./htmx-ext-sse.js"></script>
    <script src="./htmx-ext-ws.js"></script>
    <link rel="stylesheet" href="./styles.css">
    <link rel="stylesheet" href="./cozy.css">

</head>

<body>
    <header>
        <h1>abCMS.cozy</h1>
        <nav>
            <a href="./cozy.html">Feed</a>
            <a href="./cozypost.html"><b>Post</b></a>
            <a href="./index.html">Visit abCMS.text</a>
        </nav>
    </header>
    <!--  hx-get="/posts" hx-trigger="load" hx-target="this" hx-swap="innerHTML" -->
    <div id="auth" hx-post="/auth_page" hx-trigger="load" hx-target="this" hx-swap="innerHTML">
        Loading auth status...
    </div>
    <div id="coin-display" hx-get="/user/coins" hx-target="#coin-display" hx-swap="innerHTML"
        hx-trigger="load, postlist from:body"></div>
    <main id="main-dashboard" hx-trigger="load" hx-post="/user/dashboard" hx-target="this" hx-swap="innerHTML">
        Loading dashboard...
    </main>


</body>

</html>