/* CSS HSL */
:root {
    --2: #ea7f1b;
    --1: #C95501;
    --3: #7D0000;
    --4: #012C0B;
}

html,
body {
    background-color: var(--1);
    margin: 0;
    padding: 0;
}
body{

    margin: 1rem;
}
* {

    color: var(--4);
}
header {
    background-color: var(--2);
    border: 1px solid var(--4);
    border-radius: 1rem;
}

button, input, input * {
    background-color: var(--2);
    border-color: var(--3);
    border-radius: 0.5rem;
}
.card{
    border-color: var(--3);
    background-color: var(--2);
}

body, html {
  height: 100%;
}
.leaf {
    position: fixed;
    width: 50px;
    height: 50px;
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 0.8;
    transform: translate(-50%, -50%);
    animation: fadeIn 5s ease-in;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 0.8;
    }
}
.confirmcard form *{
    margin: 0.5rem;
}

@media screen and (max-width: 600px) {
    header {
        flex-direction: column;
        align-items: flex-start;
    }
    body {
        margin: 0;
    }
    main {
        padding: 0.3rem;
    }
    .card, .postcard, .imgcard {
        margin: 2rem 0;
    }
}