<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>abCMS.cozy</title>
    <script src="./htmx.min.js"></script>
    <script src="./htmx-ext-response-targets.js"></script>
    <script src="./htmx-ext-sse.js"></script>
    <script src="./htmx-ext-ws.js"></script>
    <link rel="stylesheet" href="./styles.css">
    <link rel="stylesheet" href="./cozy.css">
    <script src="https://sfxr.me/riffwave.js"></script>
    <script src="https://sfxr.me/sfxr.js"></script>
    
    <script src="./script.js" defer></script>
</head>
<body>
    <header hx-boost="true">
        <h1>abCMS.cozy</h1>
        <nav>
            <a href="./cozy.html"><b>Feed</b></a>
            <a href="./cozypost.html">Post</a>
            <a href="./index.html">Visit abCMS.text</a>
        </nav>
    </header>
    <div class="filter">
        <form hx-get="/cozy/posts" hx-target="main" hx-swap="innerHTML">
            <label for="username">Filter by author:</label>
            <input type="text" name="username" id="username">
            <button type="submit">Go</button>
        </form>
    </div>
    <main hx-get="/cozy/posts" hx-trigger="load" hx-target="this" hx-swap="innerHTML">
        Loading...
        
        
    </main>
    <div id="leaves"></div>
    
</body>
</html>
