/* CSS HSL */
:root {
    --2: #ea7f1b;
    --1: #C95501;
    --3: #7D0000;
    --4: #012C0B;
}

html,
body {
    background-color: var(--1);
    margin: 0;
    padding: 0;
}
body{

    margin: 1rem;
}
* {

    color: var(--4);
}
header {
    background-color: var(--2);
    border: 1px solid var(--4);
    border-radius: 1rem;
}

button, input, input * {
    background-color: var(--2);
    border-color: var(--3);
    border-radius: 0.5rem;
}
.card{
    border-color: var(--3);
    background-color: var(--2);
}