<div id="blog-section">
    <!-- <div id="coin-display" hx-get="/user/coins" hx-target="#coin-display" hx-swap="innerHTML"
        hx-trigger="load, postlist from:body"></div> -->

    <div id="create-cozypost">
        <h2>Create New Post</h2>
        <form action="/user/cozy/postimg" method="post" enctype="multipart/form-data">
            <label for="title">Title</label><br>
            <input type="text" id="title" name="title"><br>
            Posting as {username}<br><br>
            <label for="upload">Select image to upload</label><br>
            <input type="file" name="image" id="upload" accept=".jpeg, .jpg, .png, .gif, .webp"><br><br>
            <button type="submit">Create Post</button>
        </form>
        <div id="post-creation-status"></div>
    </div>


    <div id="confirm-cozyposts" hx-get="/user/cozy/getpending" hx-trigger="load, confirmed from:body" hx-target="this" hx-swap="innerHTML" >

    </div>
    <!-- <h2>Recent posts</h2>

    <div id="postlist" hx-get="/posts" hx-trigger="load, postlist from:body" hx-target="this" hx-swap="innerHTML">
        Loading...
    </div> -->
</div>
<div id="deployment-section" hx-trigger="load" hx-post="/user/cozy/getsettings" hx-swap="innerHTML" hx-target="this">
</div>