on:
  push:
    branches:
    - main
jobs:
  build-pex:
    name: Build pex and standalone executable
    runs-on: ubuntu-latest 
    steps:
      - uses: actions/checkout@v4
      - name: Download python version
        uses: actions/setup-python@v6.0.0
        with: 
          # Version range or exact version of Python or PyPy to use, using SemVer's version range syntax. Reads from .python-version if unset.
          python-version: 3.14.0
      - name: install poetry
        run: pip install poetry
      - name: Set up poetry env
        run: poetry install && poetry env use python3 && eval $(poetry env activate)
      - name: Run build script
        run: ./linux_build.sh
      - uses: actions/upload-artifact@v4
        with:
          name: executables
          path: ./app*
          if-no-files-found: error